<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= locals.title %>
    </title>
    <!-- font-awesome cdn-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    
    <h1 id="heading">
        <i class="fa-solid fa-address-book"></i>
        My Contacts List 
    </h1>
    <ul>
        <% for(let i of contact_list){ %>
            <li id="contact-details">
                <p><%= i.name %></p>
                <p><%= i.phone %></p>
            </li>
        <% } %>
    </ul>

    <form action="/create-contact" method="POST">
        <input type="text" name="name" placeholder="Enter Name" required>
        <input type="number" name="phone" placeholder="Enter Phone" required>

        <button type="submit">Add Contact</button>
    </form>

    <script type="text/javascript" src="/js/home.js"></script>
</body>
</html>